body {
    background-image: url("/KPDXtestingsite.github.io/files/images/kpdx_background_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #000000;
    float: top;
    opacity: 0.6;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li:first-child { float:left; margin:5px; }

nav ul li, footer ul li {
    display: inline;
    margin: 20px;
    float: right;
}
a {
    text-decoration: none;
    color: #f44242;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.home {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.home img {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: auto/3;
    width: auto/3;
}
