body {
    background-image: url("https://i.imgur.com/WMlkRpK.png");
    background-color: #000000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    body {
        background-attachment: initial;
        background-size: auto 100vh;
        background-repeat: repeat;
    }
}

.nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    height: auto;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    transition: 0.8s;
    overflow: hidden;
    padding: 0;
}

.scrolled {
    background-color: rgb(0, 0, 0);
    transition: 0.8s;
}

.nav ul, footer ul {
    list-style: none;
    padding: 0 15%;
}

.nav ul li:first-child { 
    float:left; 
    margin: 0px;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .nav ul li:first-child {
        opacity: 1;
        text-align: center;
        float: center;
    }
}

.nav ul li:last-child {
    padding: 0;
}

.nav ul li {
    font-size: 1vw;
    display: inline;
    padding: 0 0.5%;
    margin: 0 0.5%;
    float: right;
}

@media only screen and (max-width: 800px) {
    .nav ul li {
        opacity: 0;
        float: center;
        margin: auto;
    }
}

.nav img {
    width: 60%;
}

@media only screen and (max-width: 800px) {
    .nav img {
        padding: 1%;
        transform: translate(-4%,0);
    }
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: .1em;
    transition: text-shadow .3s;
}
a:hover {
    text-shadow: 0 0 .8px #ffffff, 0 0 .8px #ffffff;
}
h1 {
    font-size: 1.5vw;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 1vw;
    line-height: 1.4em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.fade {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 2s;
    animation: animat_show 2s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

footer {
    position: relative;
    font-size: .9em;
    height: auto;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    footer {
        display: block;
        background-color: #000000;
    }
}

.secret {
    opacity: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    height: auto;
    z-index: -1;
    background-color: rgba(0,0,0,0.6);
    transition: 0.8s;
    overflow: hidden;
    padding: 0;
}

.secret ul, footer ul {
    list-style: none;
}

.secret ul li:first-child { 
    float:left; 
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.secret ul li {
    font-size: 1.1em;
    display: inline;
    padding-left: 10px;
    margin: 10px;
    float: right;
}

@media only screen and (max-width: 800px) {
    .secret ul li {
        float: left;
    }
}

.secret img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .secret img {
        transform: translate(-4%,0);
    }
}

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0px;
    top: 0px;
    padding-top: 3%;
    margin-bottom: -3%;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 .home h1 {
    position: relative;
    padding: 1em;
    display: block;
    translate:(0,10%);
    /*border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%);
    max-width: 100%;
    height: auto;
    width: auto;*/
}

.home img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 391px;
    position: relative;
    max-width: auto;
    max-height: 50vh;
    display: block;
    align: absbottom;
    border: none;
    padding: 0 !important;
    margin: 0;
    /*border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0.6);
    max-width: 70%;*/
}

@media only screen and (max-width: 800px) {
    .home img {
        max-width: 90%;
        max-height: auto;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    .home h1 {
        font-size: 1.2em;
    }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

i {
  display: block;
  color: #fff;
}
.arrow {
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
/*   background-image: url(); */
/*   background-size: contain; */
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.about {
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: #1f1f1f;
}

.about p {
    text-align: center;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .about h1 {
        padding: 1%;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 800px) {
    .about p {
        padding: 1%;
        font-size: 1em;
    }
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 0;
    width: 30vw;
    max-width: 90%;
}

@media only screen and (max-width: 800px) {
    .about img {
        max-width: 95%;
        max-height: auto;
        height: auto;
        width: 876px;
    }
}

.contact {
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: #1C231D;
}

.contact p {
    text-align: center;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .contact h1 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 800px) {
    .contact p {
        font-size: 1em;
    }
}

.contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 7%;
    max-width: 90%;
}

@media only screen and (max-width: 800px) {
    .contact img {
        max-width: 90%;
        max-height: auto;
    }
}

.contact h1 {
    text-align: center;
}

section {
    display: flex;
    padding: 0 15%;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    section {
        padding: 0 1%;
        display: block;
    }
}

block {
    text-align: center;
    padding: 20px;
    width: 50%;
}

.calendar {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .calendar h1 {
        font-size: 1.2em;
    }
}

.calendar .calscale {
    position: relative;
    height: 190px;
    margin: auto;
    padding-bottom: 1%;
}

@media only screen and (max-width: 800px) {
    .calendar .calscale {
        width: 98%;
        height: auto;
    }
}

.calendar .calscale iframe {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .calendar .calscale iframe {
        width: 90%;
    }
}

.conduct {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    background-color: #1f1f1f;
}

.conduct img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 0;
    width: 35%;
    max-width: 90%;
}

.conduct h1 {
    padding: 1% 0;
}

.conduct p {
    text-align: center;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .conduct h1 {
        padding: 1%;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 800px) {
    .conduct p {
        padding: 1%;
        font-size: 1em;
    }
}

@media only screen and (max-width: 800px) {
    .conduct img {
        max-width: 70%;
        max-height: auto;
    }
}
    
#disclaimer {
    text-align: left;
    font-size: 60%;
    float: left;
    padding: 1% 1% 1% 15%;
    width: 55%;
}

@media only screen and (max-width: 800px) {
    #disclaimer {
        text-align: center;
        margin: 0 auto;
        width: 70%;
    }
}

#disclaimer p {
    text-align: left;
    font-size: 0.7em;
}

#questions {
    text-align: center;
    float: right;
    padding: 1% 15% 1% 1%;
    width: 20%;
    word-wrap: break-word;
}

#questions img {
    width: 32px;
    display: inline;
    float: right;
    padding: 0 0 0 10px;
}

@media only screen and (max-width: 800px) {
    #questions {
        text-align: center;
        float: center;
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    #questions img {
        text-align: center;
        float: center;
        width: 50%;
    }
}
