body {
    background-image: url("https://i.imgur.com/WMlkRpK.png");
    background-color: #000000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    body {
        background-attachment: initial;
        background-size: auto 100vh;
        background-repeat: repeat;
    }
}

.nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    height: auto;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    transition: 0.8s;
    overflow: hidden;
    padding: 0;
}

.scrolled {
    background-color: rgb(0, 0, 0);
    transition: 0.8s;
}

.nav ul, footer ul {
    list-style: none;
    padding: 0 15%;
}

.nav ul li:first-child { 
    float:left; 
    margin: 0px;
    padding: 0px -15% 0px 0px;
}

.nav ul li:last-child {
    padding: 0;
}

.nav ul li {
    font-size: 1vw;
    display: inline;
    padding: 0 0.5%;
    margin: 0 0.5%;
    float: right;
}

@media only screen and (max-width: 800px) {
    .nav ul li {
        float: center;
        margin: auto;
    }
}

.nav img {
    width: 60%;
}

@media only screen and (max-width: 800px) {
    .nav img {
        transform: translate(-4%,0);
    }
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: .1em;
    transition: text-shadow .3s;
}
a:hover {
    text-shadow: 0 0 .8px #ffffff, 0 0 .8px #ffffff;
}
h1 {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.fade {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 2s;
    animation: animat_show 2s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

footer {
    position: relative;
    font-size: .9em;
    height: auto;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.secret {
    opacity: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    height: auto;
    z-index: -1;
    background-color: rgba(0,0,0,0.6);
    transition: 0.8s;
    overflow: hidden;
    padding: 0;
}

.secret ul, footer ul {
    list-style: none;
}

.secret ul li:first-child { 
    float:left; 
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.secret ul li {
    font-size: 1.1em;
    display: inline;
    padding-left: 10px;
    margin: 10px;
    float: right;
}

@media only screen and (max-width: 800px) {
    .secret ul li {
        float: left;
    }
}

.secret img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .secret img {
        transform: translate(-4%,0);
    }
}

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0px;
    top: 0px;
    padding-top: 3%;
    margin-bottom: -3%;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 .home h1 {
    position: relative;
    padding: 1em;
    display: block;
    translate:(0,10%);
    /*border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%);
    max-width: 100%;
    height: auto;
    width: auto;*/
}

.home img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 391px;
    position: relative;
    max-width: auto;
    max-height: 50vh;
    display: block;
    align: absbottom;
    border: none;
    padding: 0 !important;
    margin: 0;
    /*border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0.6);
    max-width: 70%;*/
}

@media only screen and (max-width: 800px) {
    .home img {
        max-width: 90%;
        max-height: auto;
        width: auto;
        height: auto;
    }
}

.about {
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: #1f1f1f;
}

.about p {
    text-align: center;
    padding: 1% 15%;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .about p {
        padding: 1%;
    }
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 876px;
    height: 284px;
    max-width: 90%;
}

@media only screen and (max-width: 800px) {
    .about img {
        max-width: 95%;
        max-height: auto;
        height: auto;
        width: 876px;
    }
}

.contact {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    word-wrap: break-word;
}

.contact img {
    width: 25%;
    text-align: center;
}

.contact h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

social {
    text-align: center;
    padding: 20px;
    width: 13%;
}

.calendar {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.calendar .calscale {
    position: relative;
    width: 63%;
    padding-bottom: 63%;
    margin: auto;
    height: 0;
}

@media only screen and (max-width: 800px) {
    .calendar .calscale {
        width: 98%;
        padding-bottom: 98%;
    }
}

.calendar .calscale iframe {
    width: 100%;
    height: 98%;
    position: absolute;
    left: 0;
    padding: 1%;
}

.conduct {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    background-color: #1f1f1f;
}

.conduct img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 179px;
    height: 179px;
    max-width: 95%;
}

.conduct h1 {
    padding: 1% 0;
}

.conduct p {
    text-align: center;
    padding: 1% 15%;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .conduct p {
        padding: 1%;
    }
}
    
#disclaimer {
    text-align: justify;
    float: left;
    padding: 1% 1% 1% 18%;
    width: 55%;
}

#questions {
    text-align: center;
    float: right;
    padding: 1% 18% 1% 1%;
    width: 20%;
    word-wrap: break-word;
}
